@model IEnumerable<PizzaWebAppTest.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Livrari Comenzi</h1>

<p>
    <a asp-action="Create">Adauga o noua comanda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDetails.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactDetails.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactDetails.FirstName) |
                    @Html.DisplayFor(modelItem => item.ContactDetails.LastName) |
                    @Html.DisplayFor(modelItem => item.ContactDetails.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfOrder)
                </td>
                <td>
                    <a class="btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> |
                    <a class="btn-warning" asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                    <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
