@model IEnumerable<PizzaWebAppTest.Models.OrderProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Comenzi Produse</h1>

<p>
    <a asp-action="Create">Adauga produse pe comenzi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a class="btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editeaza</a> |
                <a class="btn-warning" asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                <a class="btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
